@import "~common/stylus/mixin"

.login
  position: fixed
  width: 100%
  height: 100%
  .top-wrapper
    width: 100%
    padding-bottom: 56.25%;   // 16/9 = 0.5625;
    height: 0;
    bg-image ('login_background')
    background-size: 100% 100%;
    .cancel
      position: absolute
      top: 12px
      left: 12px
      width: 30px
      height : 30px
      bg-image ('nav_icon_cancel_white')
      background-size: 100% 100%;
  .center-wrapper
    width: 90%
    margin: 20px 5% 10px 5%


